<div class="max-w-sm min-h-full rounded overflow-hidden shadow-lg">
    {{ fields.field_image.content }}
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ fields.title.content }}</div>
        <p class="text-gray-700 text-base">{{ fields.body.content }}</p>
    </div>
</div>